* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  background-color: #fafafa;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
