* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
