.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid lightgray;
}

.imageupload__caption {
  padding: 10px;
  border: 1px solid lightgray;
}

.imageupload__previewImage {
  height: 250px;
  object-fit: contain;
  border: 1px solid lightgray;
}

.imageupload__header,
.imageupload__error,
.imageupload__previewImage,
.imageupload__file,
.imageupload__instruction,
.imageupload__caption,
.imageupload__progress {
  margin: 5px;
}
