.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__comments {
  padding: 20px;
  border-top: 1px solid lightgray;
}

.post__previousComments {
  max-height: 250px;
  overflow-y: auto;
}

.post__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border: 1px solid lightgray;
}

.post__button {
  flex: 0;
  border: none;
  color: #6082a3;
  background-color: transparent;
  border: 1px solid lightgray;
}
